input {
  height: 0;
}

label {
  display: block;
}

span.button {
  font-style: italic;
}

/*Copied from https://habrahabr.ru/post/189570/*/
.file_upload{
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  font-size: 16px;              /* example */
  height: 30px;                 /* example */
  line-height: 30px;             /* the same as height */
}
.file_upload .button {
  display: block;
  cursor: pointer;              /* example */
  float: right;
  padding-left: 5px;
  text-align: center           /* example */
}

.file_upload input[type=file] {
  position: absolute;
  top: 0;
  opacity: 0;
}
