button {
  width: 85px;
  background: white;
  color: black;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  margin-left: 0;
  font-weight: bold;
  font-size: 15px;
  border: 2px solid grey;
}

.submit-button {
  float: right;
}

.miniText {
  float: right;
  font-weight: normal;
  font-size: 10px;
}

div span {
  text-align: center;
  padding-right: 8px;
}
