<div class="block__menu" xmlns="http://www.w3.org/1999/html">
  <ul class="menu">
    <li>Sort by...
      <ul class="submenu" style="width: 77.6px;">
        <li>
          <button class="submenu-button"
                  [class.checked]="sorting_button_checked == 'name'"
                  (click)="sorting('name')">
            name
          </button>
        </li>

        <li>
          <button class="submenu-button"
                  [class.checked]="sorting_button_checked == 'date'"
                  (click)="sorting('date')">
            date
          </button>
        </li>

        <li>
          <button class="submenu-button"
                  [class.checked]="sorting_button_checked == 'format'"
                  (click)="sorting('format')">
            format
          </button>
        </li>
      </ul>
    </li>

    <li>Show only...
      <ul class="submenu" style="width: 99.81px;">
        <li *ngFor="let format of formats">
          <button class="submenu-button"
                  [class.checked]="showonly_button_checked == format"
                  (click)="show_only(format)">
            {{format}}
          </button>
        </li>
      </ul>
    </li>

    <li class="slidermode-li">
      <button class="submenu-button slidermode-button"
              (click)="slidermode_toggle()"
              [class.checked]="slidermode_on">
        Slideshow
      </button>
    </li>

    <li class="upload-form">
      <div class="cool-border">
        <app-add-form></app-add-form>
      </div>
    </li>

    <li class="clear-button">
      <button class="submenu-button"
              (click)="remove_filters()"
              app-tooltip="Removes filters"
              app-tooltip-font-size="7px">
        Ø
      </button>
    </li>
  </ul>
</div>


<app-image-slider [images]="visible_images"
                  *ngIf="slidermode_on; else elseBlock">
</app-image-slider>

<!--<div id="carousel-example-generic"-->
     <!--class="carousel slide"-->
     <!--data-ride="carousel"-->
     <!--*ngIf="slidermode_on; else elseBlock">-->
  <!--<p style="color: red">Doesn't work yet</p>-->
<!--</div>-->

<ng-template #elseBlock>
  <img id="modal" src="" style="display: none">
  <div class="images div-to-scroll div-with-scroll">
    <div *ngFor="let image of visible_images; let i = index"
          class="image">
      <img [@image_fullsize_animation]="states[i]"
           (click)="fullsize(i)"
           src="{{image.src}}">
    </div>
  </div>
</ng-template>

