<li *ngFor="let task of tasks; let i = index"
    (click)="toggle(i)">
    <span [class.complete]="task.complete"
          (click)="startEditing(i)"
          *ngIf="!(i === editingIndex); else elseBlock">
      {{task.title}}
    </span>
  <ng-template #elseBlock>
    <form>
      <input #editedTask
            type="text"
            value={{task.title}}
            (click)="toggle(i)">
      <button class="edit_button" (click)="edit(i, editedTask.value)">
        Edit
      </button>
    </form>
  </ng-template>
  <button class="remove_button"
          (click)="remove(i)">
    Remove
  </button>
</li>
