/*Совсем не дружу с bootstrap'ом, надеюсь скоро подружиться*/

li {
  list-style: none;
  padding: 10px;
  margin-top: 3px;
  border: 2px solid grey;
  border-radius: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

form {
  display: inline;
}

.complete {
  text-decoration: line-through;
  opacity: .5;
}

button {
  width: 85px;
  background: white;
  color: black;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 15px;
}

.remove_button {
  float: right;
}

.input_window {
  size: 50px;
  border-radius: 5px;
}

