<form [formGroup]="addForm" (onsubmit)="add(addForm)">
  <label>
    <input type="text"
           formControlName="addTask" />

    <span [hidden]="!addForm.controls.addTask.hasError('required')">
      Field is required!
    </span>

    <button class="add_button"
            [class.invalid]="addForm.controls.addTask.hasError('required')"
            [disabled]="addForm.controls.addTask.hasError('required')"
            (click)="add(addForm)">
      Add task
    </button>
  </label>

  <button type="text" (click)="addSubTaskForm()">
    Add sub-task
  </button>

  <div class="subTasks"
       *ngFor="let subTaskFrom of subTasks.controls; let i = index">
    <label formArrayName="subTasks">
      <input type="text" formControlName="{{i}}"/>

      <button type="text" (click)="removeSubTaskForm(i)">
        Remove
      </button>
    </label>
  </div>
</form>
