button {
  width: auto;
  background: white;
  color: black;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid grey;
  font-size: 15px;
}

button:hover {
  border-color: black;
  transition: border-color 0.2s;
  cursor: pointer;
}

form {
  display: inline;
}

span {
  color: darkred;
}

.subTasks {
  margin-left: 25px;
}

.invalid {
  opacity: .5;
}
