<li *ngFor="let task of tasks; let i = index"
    (click)="toggle(i)">
  <div class="sibling"></div>

  <span [class.complete]="task.complete"
        (click)="startEditing(i)"
        *ngIf="!(i === editingIndex); else elseBlock">
    {{task.title}}
  </span>

  <ng-template #elseBlock>
    <form>
      <input #editedTask
            type="text"
            value={{task.title}}
            (click)="toggle(i)">

      <button class="edit_button" (click)="edit(i, editedTask.value)">
        Edit
      </button>
    </form>
  </ng-template>

  <button class="addSubTaskButton" (click)="startPushingSubTasks(task.id)">
    Sub-tasks
  </button>

  <button class="remove_button"
          (click)="remove(task.id)">
    Remove
  </button>

  <div *ngIf="subTaskEditing.indexOf(i) !== -1">
    <tasks [tasks]="task.subTasks"
           [index]="i"
           (click)="toggle(i)"></tasks>
    <addSubTaskForm [taskId]="task.id" (click)="toggle(i)"></addSubTaskForm>
  </div>
</li>
