<div class="row">
  <div class="col-sm-12">
    <img [src]="recipe.imagePath" class="img-fluid"
         style="max-height: 250px; min-height: 250px">
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="dropdown">
      <button class="btn dropdown-toggle" data-toggle="dropdown">Manage recipe</button>
      <div class="dropdown-menu">
        <button class="btn dropdown-item">Add Ingridients</button>
        <button class="btn dropdown-item">Edit recipe</button>
        <button class="btn dropdown-item">Delete recipe</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{recipe.description}}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    Ingredients
  </div>
</div>
